@import "tailwindcss";

/* improves default page rendering */
* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

/* makes tables look cleaner across pages */
table {
  background-color: white;
}

th {
  background-color: #eff6ff;
  color: #172554;
  font-weight: 600;
}

td,
th {
  border-color: #cbd5e1;
}
